{% extends 'default/layout.html.twig' %}

{% block header %}
    <h1 class="display-1">
        {{'un titre magnifique !' |title }}
    </h1>
{% endblock %}

{% block content %}
    <div>
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>subject</th>
                <th>message</th>
                <th>date</th>
            </tr>
            {% for contact in contacts %}
            <tr>
                <td> {{ contact.id }} </td>
                <td> {{ contact.email }} </td>
                <td> {{ contact.subject }} </td>
                <td> {{ contact.message }} </td>
                <td> {{ contact.createdAt | date('d/m/Y H:i:s') }} </td>
            </tr>
            {% endfor %}
        </table>

        
    </div>
{% endblock %}